
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

/* Add your styles here */

.loginPage {
    width: 400px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(80, 141, 233);
    text-align: center;
    border-radius: 10%;

}

.loginPageButtons {
    margin-top: 5px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.registerPage {
    width: 400px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(80, 141, 233);
    text-align: center;
    border-radius: 10%;
    display: none;
}

.registerPageButtons {
    margin-top: 5px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.eachPost {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(145, 178, 228);
    border-radius: 25px;
}

.likeButton {
    border-radius: 25px;
    background-color:bisque;
}

.postCommentButton {
    border-radius: 25px;
    background-color: bisque;
}

.postLikedByButton {
    border-radius: 25px;
    background-color: bisque;
}

.commentedByButton {
    border-radius: 25px;
    background-color: bisque;
}