
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

/* Add your styles here */

.loginPage {
    width: 400px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(80, 141, 233);
    text-align: center;
    border-radius: 10%;

}

.loginPageButtons {
    margin-top: 5px;
    border-radius: 25px;
    background-color: bisque;
}

.registerPage {
    width: 400px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(80, 141, 233);
    text-align: center;
    border-radius: 10%;
    display: none;
}

.registerPageButtons {
    margin-top: 5px;
    border-radius: 25px;
    background-color:bisque;
}

.eachPost {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(145, 178, 228);
    border-radius: 25px;
}

.postButton {
    border-radius: 25px;
    background-color:bisque;
}

.commentBox {
    border-radius: 25px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
}

.userProfile {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;
    text-indent: 20px;
}

.followButton {
    border-radius: 100%;
    background-color: white;
    margin-left: 750px;
    margin-right: 10px;
    margin-top: 10px;
}

#homeButton {
    border-radius: 100%;
    background-color: bisque;
    font-size: 30px;
    margin-right: 100px;
}

#authorProfile {
    border-radius: 100%;
    background-color: bisque;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.makePost{
    width: 800px;
    height: 100px;
    background-color: coral;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.addPostButton {
    border-radius: 25px;
    background-color:bisque;
    margin-left: 280px;
    box-shadow: 2px black;
}

.editPostButton {
    border-radius: 25px;
    background-color:bisque;
    margin-left: 20px;
    box-shadow: 2px black;
}

.NewPost {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    background-color: rgb(235, 115, 139);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.newPostButton {
    border-radius: 25px;
    background-color:bisque;
    margin-top: 20px;
}

.updateProfile {
    width: 300px;
    height: 250px;
    border-radius: 25px;
    background-color:rgb(180, 148, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.userProfilePost {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(234, 253, 65);
    border-radius: 25px;
    color: #000000;
    text-align: center;
    text-indent: 20px;
}

.userProfilePosts {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    color: #000000;
    text-align: center;
    text-indent: 20px;
}

.deletePostButton {
    border-radius: 25px;
    background-color:bisque;
}

@media only screen and (max-width:1024px) {
    #homeButton {
        border-radius: 100%;
        background-color: bisque;
        font-size: 30px;
        margin-right: 100px;
    }

    .eachPost {
        width: 700px;
    }

    .makePost{
        width: 750px;
    }

    .followButton {
        margin-left: 600px;
    }

}

@media only screen and (max-width:770px) {
    #homeButton {
        border-radius: 100%;
        background-color: bisque;
        font-size: 30px;
        margin-right: 10%;
    }

    .loginPage {
        width: 50%;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(80, 141, 233);
        text-align: center;
        border-radius: 10%;
    }

    .registerPage {
        width: 50%;
    }

    .makePost{
        width: 400px;
    }

    .eachPost {
        width: 400px;
    }

    .followButton {
        margin-left: 350px;
    }

    .addPostButton {
        margin-left: auto;
    }

    .editPostButton {
        margin-left: 20px;
    }

    .image {
        width: 60%;
    }
}

@media only screen and (max-width:350px) {
    #homeButton {
        border-radius: 100%;
        background-color: bisque;
        font-size: 30px;
        margin-right: 10px;
    }
    .loginPage {
        width: 200px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(80, 141, 233);
        text-align: center;
        border-radius: 10%;
    }

    .registerPage {
        width: 90%;
    }

    .eachPost {
        width: 300px;
    }

    .makePost{
        width: 300px;
    }

    .followButton {
        margin-left: 250px;
    }

    .addPostButton {
        margin-left: auto;
    }

    .editPostButton {
        margin-left: 0px;
    }
    .image {
        width: 60%;
    }
}

